$black: #030301;
$white: #fcfcfc;
$off-white: #ececec;

$true-black: #000;
$true-white: #fff;

$grey: rgb(126, 126, 126);

// Links
$link--blue: rgb(28, 117, 188);
$link--light-blue: rgb(88, 183, 221);
