{% macro page_tree( opts, page_tree ) %}

{% if not page_tree %}{% set page_tree = pages.get_all %}{% endif %}

<{{ opts.list_type|default('ul') }}>

	{% for item in page_tree %}
	
	{% if item.name != '404' %}

		{% if item.name == 'index' and opts.hide_index and item.level != 1 %}
	
		{% else %}
		
		{% set class = _self._page_tree_item_class( item ) %}
		
		<li{% if class %} class="{{ class }}"{% endif %}>
		{% if item.type == 'directory' %}

			{% if not item.has_index %}
				{{ item.nice_name }}
			{% else %}
				<a href="{{ item.nice_url }}">{{ item.nice_name }}</a>
			{% endif %}
			
			{{ _self.nav( opts, item.children ) }}

		{%  else %}
	
		<a href="{{ item.nice_url }}">{{ item.nice_name }}</a>
		
		{% endif %}
		</li>
		{% endif %}
	
	{% endif %}
	
	{% endfor %}
	
</{{ opts.list_type|default('ul') }}>

{% endmacro %}


{% macro _page_tree_item_class( item ) %}

{% if '/' ~ url.string == item.link_url %} current{% endif %}

{% endmacro %}