{% extends "layouts/base.twig" %}

{% block content %}
<p id="xml">{{ data.xml.people.bob.surname }}</p>
<p id="yaml">{{ data.yaml.people.bob.surname }}</p>
<p id="json">{{ data.json.people.bob.surname }}</p>
<p id="csv">{{ data.csv.bob.surname }}</p>
{% endblock content %}
