{% import "PT/macros/assets.twig" as assets %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {{ assets.stylesheet('/app/assets/css/system.css') }}

    <title>Prontotype - Test Prototype</title>
</head>
<body>

    <div id="pt-content">

        <h1>Test Prototype</h1>

        <p>This is the test prototype of prontotype, used for functional testing the application.</p>

    </div>

</body>
</html>
