{% extends "layouts/base.twig" %}

{% block content %}
<div id="to-scrap">
    <p>this will be scraped</p>
    <p class="to-inject">this should get some injection.</p>
    <p class="to-inject">this also.</p>
</div>
<div id="not-to-scrap"><p>this should not be scraped</p></div>
{% endblock content %}
