#==================
# prototypes
# -----------------
# Specify the various prototypes this prontotype install should server
#==================
prototypes:
    default:
        domain: prontotype.lo
        base_path: .
    # test prototypes, disable them on public servers
    test-foo:
        domain: prontotype-foo.lo
        base_path: ./app/test/foo
    test-bar:
        domain: prontotype-bar.lo
        base_path: ./app/test/bar
