{% macro form_open( attrs ) %}
<form{% for attr, val in attrs %} {{ attr }}="{{ val }}"{% endfor %}>
{% endmacro %}


{% macro form_close() %}
</form>
{% endmacro %}


{% macro label( label, opts ) %}
<label{% if opts.id %} for="{{ opts.id }}"{% endif %} class="pt-control-label">{{ label|default('Input label') }}</label>
{% endmacro %}


{% macro input( label, type, attrs ) %}
{{ _self.labeled_control( type, label, text, attrs, opts ) }}
{% endmacro %}


{% macro textarea( label, text, attrs ) %}
{{ _self.labeled_control( 'textarea', label, text, attrs, opts ) }}
{% endmacro %}


{% macro select( label, opts, attrs) %}
{{ _self.labeled_control( 'select', label, text, attrs, opts ) }}
{% endmacro %}


{% macro checkbox( label, attrs) %}
{{ _self.labeled_control( 'checkbox', label, text, attrs, opts ) }}
{% endmacro %}


{% macro button( text, class ) %}
<button type="submit" class="btn {{ class }}">{{ text|default('Submit')|raw }}</button>
{% endmacro %}


{% macro control( type, label, attrs, opts ) %}

	{% if type == 'textarea' %}
	
	<textarea{% for attr, val in attrs %}{% if attr != 'value' %} {{ attr }}="{{ val }}"{% endif %}{% endfor %}>{{ attrs.value|default('') }}</textarea>
	
	{% elseif type == 'select' %}
	
	<select{% for attr, val in attrs %} {{ attr }}="{{ val }}"{% endfor %}>
		{% for value, label in opts %}<option value="{{ value }}"{% if attrs.value == value %} selected="selected"{% endif %}>{{ label }}</option>{% endfor %}
	</select>
	
	{% elseif type == 'button' %}
	
	{{ _self.button(text) }}
	
	{% else %}
	
	<input type="{{ type|default('text') }}"{% for attr, val in attrs %} {{ attr }}="{{ val }}"{% endfor %}>

	{% endif %}

{% endmacro %}


{% macro labeled_control( type, label, attrs, opts ) %}

<div class="pt-control-group pt-type-{{ type|default('text') }}">

{% if label is empty %}

{{ _self.control(type, label, attrs, opts) }}		

{% else %}

{% if not attrs %}{% set attrs = {} %}{% endif %}
{% if not attrs.id %}{% set attrs = attrs|merge({ 'id': 'id-' ~ random() }) %}{% endif %}
	
{% if type == 'checkbox' or type == 'radio'  %}
	
	<div class="pt-controls">
		<label{% if opts.id %} for="{{ opts.id }}"{% endif %} class="{{ type }}">
		{{ _self.control(type, label, attrs, opts) }}
		{{ opts.label|default('Input label') }}
		</label>
	</div>
	
{% else %}
	
	{{ _self.label(label, attrs) }}
	<div class="pt-controls">
	{{ _self.control(type, label, attrs, opts) }}
	</div>
	
{% endif %}

{% endif %}

</div>

{% endmacro %}
