{% macro page_tree( opts, page_tree ) %}

{% if not page_tree %}{% set page_tree = pages.getAll %}{% endif %}

<{{ opts.list_type|default('ul') }}{% if opts.id %} id="{{ opts.id }}"{% endif %}{% if opts.class %} class="{{ opts.class }}"{% endif %}{% if opts.note %} data-note="{{ opts.note }}"{% endif %}>

	{% for item in page_tree %}
	
	{% if item.name != '404' %}

		{% if not (item.name == 'index' and opts.hide_index and item.level != 1) %}
	
		<li{% if item.is_current or item.is_parent %} class="{% if item.is_current %}current {% endif %}{% if item.is_parent %}parent{% endif %}"{% endif %}>
		{% if item.type == 'directory' %}
			{% if not item.has_index %}
				{{ item.nice_name }}
			{% else %}
				<a href="{{ item.nice_url }}">{{ item.nice_name }}</a>
			{% endif %}
			{% if item.level < opts.depth  %}
			{{ _self.page_tree( opts, item.children ) }}
			{% elseif not opts.depth %}
			{{ _self.page_tree( opts, item.children ) }}
			{% endif %}
		{%  else %}
			<a href="{{ item.nice_url }}">{{ item.nice_name }}</a>
		{% endif %}
		</li>
		{% endif %}
	
	{% endif %}
	
	{% endfor %}
	
</{{ opts.list_type|default('ul') }}>

{% endmacro %}