{% macro page_tree( opts, level ) %}

{% if not opts %}{% set opts = {} %}{% endif %}

{% if not opts.start_from or opts.start_from == '/' %}
	{% set page_array = pages.getAll %}
{% else %}
	{% set page_array = pages.getAllUnder(opts.start_from) %}
{% endif %}
{% if not level %}{% set level = 1 %}{% endif %}

<{{ opts.list_type|default('ul') }}{% if opts.id %} id="{{ opts.id }}"{% endif %}{% if opts.class %} class="{{ opts.class }}"{% endif %}{% if opts.note %} data-note="{{ opts.note }}"{% endif %}>

	{% for item in page_array %}
	
		{% if not (item.name == 'index' and opts.hide_index and level != 1) %}
	
		<li{% if item.is_current or item.is_parent %} class="{% if item.is_current %}current {% endif %}{% if item.is_parent %}parent{% endif %}"{% endif %}>
		{% if item.type == 'directory' %}
			{% if not item.has_index %}
				{{ item.nice_name }}
			{% else %}
				<a href="{{ item.nice_url }}">{{ item.nice_name }}</a>
			{% endif %}
			{% if level < opts.depth  %}
			{% set opts = opts|merge({start_from:item.nice_url}) %}
			{{ _self.page_tree( opts, level + 1 ) }}
			{% elseif not opts.depth %}
			{% set opts = opts|merge({start_from:item.nice_url}) %}
			{{ _self.page_tree( opts, level + 1 ) }}
			{% endif %}
		{%  else %}
			<a href="{{ item.nice_url }}">{{ item.nice_name }}</a>
		{% endif %}
		</li>
		{% endif %}
	
	{% endfor %}
	
</{{ opts.list_type|default('ul') }}>

{% endmacro %}

{% macro sitemap( opts, level ) %}

<table{% if opts.id %} id="{{ opts.id }}"{% endif %} class="table prontotype-sitemap {% if opts.class %} { opts.class }}{% endif %}" {% if opts.note %} data-note="{{ opts.note }}"{% endif %}>
    <tr>
        <th>name</th>
        <th>id</th>
        <th>path</th>
    </tr>
    {% if not level %}{% set level = 0 %}{% endif %}
    {{ _self.sitemap_entry( opts, level + 1 ) }}
</table>

{% endmacro %}

{% macro sitemap_entry( opts, level ) %}

{% if not opts %}{% set opts = {} %}{% endif %}

{% if not opts.start_from or opts.start_from == '/' %}
	{% set page_array = pages.getAll %}
{% else %}
	{% set page_array = pages.getAllUnder(opts.start_from) %}
{% endif %}

	{% for item in page_array %}

		{% if not (item.name == 'index' and opts.hide_index and level != 1) %}

            <tr{% if item.is_current or item.is_parent %} class="{% if item.is_current %}current {% endif %}{% if item.is_parent %}parent{% endif %}"{% endif %}>
                <td>
                {% if item.type == 'directory' and not item.has_index %}
                    <span class="level level-{{ level }}">{{ item.nice_name }}</span>
                {% else %}
                    <a class="level level-{{ level }}" href="{{ item.nice_url }}">{{ item.nice_name }}</a>
                {% endif %}
                </td>
                <td>
                {% if item.id %}
                    <a href="{{ item.short_url }}">{{ item.id }}</a>
                {% endif %}
                </td>
                <td>
                {% if item.type == 'directory' and not item.has_index %}
                    {{ item.nice_url }}
                {% else %}
                    <a href="{{ item.nice_url }}">{{ item.nice_url }}</a>
                {% endif %}
                </td>
            </tr>
            {% if item.type == 'directory' %}
                {% if level < opts.depth  %}
                    {% set opts = opts|merge({start_from:item.nice_url}) %}
                    {{ _self.sitemap_entry( opts, level + 1 ) }}
                {% elseif not opts.depth %}
                    {% set opts = opts|merge({start_from:item.nice_url}) %}
                    {{ _self.sitemap_entry( opts, level + 1 ) }}
                {% endif %}
            {% endif %}

		{% endif %}

	{% endfor %}

{% endmacro %}
