@import url("//fonts.googleapis.com/css?family=Droid+Sans:300,400,700");
@import url("//fonts.googleapis.com/css?family=Droid+Serif:300,400,700,400italic,700italic");

/*
@font-face {
  font-family: 'MoviePoster';
  src:url('../fonts/MoviePoster/sf_movie_poster.eot');
  src:url('../fonts/MoviePoster/sf_movie_poster?#iefix') format('embedded-opentype'),
    url('../fonts/MoviePoster/sf_movie_poster.woff') format('woff'),
    url('../fonts/MoviePoster/sf_movie_poster.ttf') format('truetype'),
    url('../fonts/MoviePoster/sf_movie_poster.svg#sf_movie_posterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/