{% import "PT/macros/assets.twig" as assets %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
    {{ assets.stylesheet('/app/assets/css/system.css') }}

	<title>{{ title }}</title>
</head>
<body>
	
	<div id="pt-content">
	{% block content %}{% endblock content %}	
	</div>	
	
</body>	
</html>
