body {
	font-family: sans-serif;
	padding: 20px;
	color: #333;
	font-size: 15px;
	line-height: 1.4;
	margin: 0;
}

.block p:first-child {
	margin-top: 0;
}

.block {
	border: 1px solid #CCC;
	background: #EEE;
	padding: 20px;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.block.error {
    background: #ffebeb;
    border: 1px solid #ff9e9c;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

h2 {
    font-size: 18px;
    font-weight: bold;
	margin: 0 0 10px 0;
}

h3 {
    font-size: 16px;
    font-weight: normal;
	margin: 0 0 10px 0;
}

h3 span {
    color: #888;
    font-size: 0.9em;
    margin-left: 5px;
}

p {
	margin-bottom: 0;
	margin-top: 10px;
	color: #555;
}

p.error-detail {
	font-size: 16px;
}

p.to-note {
        font-style: italic;
    font-size: 13px;
    color: #777;
}

/* @group Forms */

form {
	padding: 15px;
	background: #FFF;
	border: 1px solid #DDD;
	margin-top: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form .container {
	margin-bottom: 15px;
}

form label {
	font-size: 16px;
	display: inline-block;
	width: 140px;
	font-weight: bold;
}

form input {
	display: inline-block;
	width: 250px;
	padding: 4px;
	font-size: 14px;
	font-family: sans-serif;
}

form button {
	padding: 8px 20px;
	font-size: 16px;
	font-family: sans-serif;
	border: 1px solid #CCC;
	background: #DDD;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #222;
	font-weight: bold;
	cursor: pointer;
	margin-left: 140px;
}

#auth-form {
	width: 450px;
	margin: 0 auto;
}

/* @end Forms */

/* @group Stacktrace */

#stacktrace ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#stacktrace li {
    margin-bottom: 20px;
}

#stacktrace li:last-child {
    margin-bottom: 0;
}

#stacktrace .source {
    font-family: monospace;
    background: #FFF;
    padding: 10px 5px;
    border: 1px solid #DDD;
    overflow: auto;
    font-size: 14px;
}

#stacktrace .line {
    padding: 2px 10px;
    color: #5a325e;
}

#stacktrace .line-number {
    color: #999;
    display: inline-block;
    margin-right: 10px;
}

#stacktrace .line.main {
    background: #fdfee6;
}

#stacktrace .php-default {
    color: #3368b1;
}

#stacktrace .php-keyword {
    color: #35a429;
}

#stacktrace .php-string {
    color: #a46929;
}

/* @end Stacktrace */


