{% import "pt/macros/assets.twig" as assets %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {{ assets.stylesheet('/app/assets/css/system.css') }}

    <title>Prontotype - Test Prototype</title>
</head>
<body>

    <div id="pt-content" class="test">
        {% block content %}{% endblock content %}
    </div>

</body>
</html>
