<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    {{ pt.snippets.assets.stylesheet('_system/css/system.css') }}
    
    <title>Prontotype is up and running</title>
</head>
<body>
    
    <div class="pt-body">
        
        <div class="pt-content-block">
        
            <h1>Prontotype is up and running.</h1>
        
            <p>If this is your first time using Prontotype then you'll probably a want to check out the <a href="/index.php/_docs">Prontotype documentation</a> to help you get started.</p>
        
            <p><strong>Happy prototyping!</strong></p>
        
        </div>
        
    </div>

</body> 
</html>
