<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
		
	<link rel="stylesheet" href="/system/assets/css/pronto.css" media="all">
	
	<style>
		#content {
			max-width: 900px;
			margin: 20px auto;
			border: 1px solid #CCC;
			padding: 30px;
		}
	</style>
		
	<title>Prontotype</title>
</head>
<body>
	
	
	{{ user.name }}
	
<div id="content">
	
	{% block content %}

	<p>Default content</p>

	{% endblock content %}
	
</div>

<script src="/system/assets/js/jquery-1.6.4.min.js"></script>
<script src="/system/assets/js/jquery.cookie.js"></script>
<script src="/system/assets/js/pronto.js"></script>

<script>
	var toolbar = new PT.toolbar();
</script>

</body>	
</html>