{% import "PT/navigation.html" as nav %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<style>
		
	</style>
	
	{{ assets.pronto }}
	
	<script>var toolbar = new PT.toolbar();</script>
	
	<title>Prontotype Example Site</title>
</head>
<body>
	
	<div id="header">
	
	{{ nav.page_tree( { 'hide_index': false, 'id' : 'asdasd', 'class' : 'asd' } ) }}
	
	</div>
	
	<div id="content">
	
	{% block content %}{% endblock content %}
	
	</div>
	
	<div id="footer">
		
		<p>Powered by <a href="http://prontotype.allmarkedup.com">Prontotype</a></p>
		
	</div>
	
</body>	
</html>