{% import "PT/navigation.html" as nav %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	{{ assets.link('example.css') }}
	
	<title>Prontotype Example Site</title>
</head>
<body>
	
	{% if user %}
		
	<div id="userbar">
		
		<div class="section" data-note="global.user_bar">
			
			{% if user.role == 'user' %}
			<p>Logged in as {{ user.name }}. <a href="#">Manage your account</a> or <a href="?{{ config.logout_trigger }}">log out</a></p>
			{% elseif user.role == 'admin' %}
			<p>Welcome back {{ user.name }}. You can access your <a href="#">admin panel here</a>.</p>
			{% endif %}
			
		</div>
				
	</div>
	
	{% endif %}
	
	<div id="header" class="section">
		
		<h1><a href="/">Prontotype</a></h1>
		
		<div class="nav">
			
			{{ nav.page_tree( { 'depth': 1, 'note' : 'global.main_nav' } ) }}
			
		</div>
	
	</div>
	
	<div id="content" class="section">
	
	{% block content %}{% endblock content %}
	
	</div>
	
	<div id="footer" class="section">
		
		<p>Powered by <a href="{{ data.example.site_url }}">Prontotype</a>. </p>
		
	</div>
	
	{{ assets.pronto }}
	<script>new PT.toolbar(['notes', 'users']);</script>
	
</body>	
</html>