{% extends "PT/layouts/system.twig" %}

{% set title = '404 - Page not found' %}

{% block content %}

	<div class="alert">
		<h4 class="alert-heading">Page not found.</h4>
		Please check the URL and try again.
	</div>

{% endblock content %}