{% extends "pt/layouts/system.twig" %}
{% import "pt/macros/forms.twig" as form %}

{% set title = 'You must be logged in to access this content' %}
{% set error = pt.notifications.get('error') %}

{% block content %}

<form action="{{ auth_path }}" method="POST" id="pt-login-form">
	
	{% if error %}
	<div class="alert alert--error">
		{{ error }}
	</div>
	{% else %}
	<div class="alert alert--info">
		<strong>You must be logged in to access this content.</strong>
	</div>
	{% endif %}
	
	{{ form.labeled_control('password', 'Password', { name : 'password', id : 'password' }) }}
	
	<div class="form-actions">
		{{ form.button('Log in &rarr;', 'btn-primary') }}
	</div>

</form>

{% endblock content %}