{% extends "pt/layouts/system.twig" %}

{% set title = 'An error has occurred' %}

{% block content %}
	
    <h4 class="alert-heading">An error has occurred.</h4>
    <p>Computer says: {{ message }}</p>

{% endblock content %}
