{% import "PT/macros/forms.html" as form %}
{% extends "layouts/example-base.html" %}

{% block content %}

<h2>Using Macros</h2>

<p>Macros are little helpers that you can easily define once and then use throughout your templates to make sure that common HTML snippets stay editable in one place. They are a bit like <em>page includes</em>, except that they can use optional parameters to adjust the HTML or content output on a per-use basis, which makes them very flexible.</p>

<h3>Built in Macros</h3>

<p>Prontotype also comes with some built-in macros to make it quick to prototype common things like forms, navigation and more.</p>

<p>And don't forget, if the markup that these macros output isn't quite to your taste you can easily override them by defining your own macros at any time. See the <a href="{{ data.example.docs_url }}macros">documentation on macros</a> for more information.</p>

<div class="example">

	<h3 class="title">Example: A simple registration form</h3>

	<div class="rendered">
		
		{{ form.form_open }}

			{{ form.input('User name') }}

			{{ form.input('Password', 'password') }}

			{{ form.textarea('Tell us a little about yourself') }}

			{{ form.checkbox('I agree to the terms and conditions') }}

			{{ form.button('Register') }}

		{{ form.form_close }}
		
	</div>
	
	<div class="code">
<h4>Code:</h4>
<pre>{% raw %}
{{ form.form_open }}

{{ form.input('User name') }}

{{ form.input('Password', 'password') }}

{{ form.textarea('Tell us a little about yourself') }}

{{ form.checkbox('I agree to the terms and conditions') }}

{{ form.button('Register') }}

{{ form.form_close }}
{% endraw %}</pre>
		
	</div>
	
</div>

{% endblock content %}