body {
	background: #EFEFEF;
	font-family: sans-serif;
}
		
#pt-content {
	padding: 15px 20px 1px 20px;
	margin: 30px auto;
	max-width: 500px;
	background: #FFF;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #CCC;
}

#pt-content h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

#pt-content p {
	margin-bottom: 14px;
}

#pt-content p:last-child {
	margin-bottom: 20px;
}
