body {
    background: #EFEFEF;
    font-family: sans-serif;
}
a {
    color: #417e98;
}

#pt-content {
    padding: 15px 20px 1px 20px;
    margin: 30px auto;
    max-width: 500px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #CCC;
}
#pt-content h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
#pt-content p {
    margin-bottom: 14px;
}
#pt-content p:last-child {
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 10px;
    padding: 10px;
    background: #eee;
    color: #377c95;
    border: 1px solid #e5ecef;
}
.alert--error {
    color: #942008;
    background: #fff5f4;
    border-color: #f3d2cd;
}
.alert--info {
    background: #eef5f8;
    color: #377c95;
    border-color: #e5ecef;
}
.alert-heading {
    margin-top: 0;
    margin-bottom: 0;
}

#pt-login-form {
    margin-bottom: 15px;
}
#pt-login-form label {
    display: inline-block;
    width: 110px;
}
#pt-login-form .pt-controls {
    display: inline-block;
}
#pt-login-form .pt-control-group {
    margin-bottom: 10px;
}
#pt-login-form input {
    border: 1px solid #DDD;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 15px;
}
#pt-login-form button {
    border: 1px solid #DDD;
    background: #EEE;
    font-size: 15px;
    font-family: sans-serif;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 115px;
}

