{% import "PT/macros/assets.twig" as assets %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {{ assets.stylesheet('/app/assets/css/system.css') }}

    <title>Prontotype - Test Prototype</title>
</head>
<body>

    <div id="pt-content">

        <h1>Animals</h1>

        <h2>Selected mammals</h2>
        <p class="cats"> {{ pages.link('11') }}</p>
        <p class="rats"> {{ pages.link('rat') }}</p>
    </div>

</body>
</html>
